/* base.css */
body {
    font-family: 'Alexandria', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--pixel-bg);
    color: #444444;
    line-height: 1.8;
    overflow-x: hidden;
}

h2 {
    color: var(--pixel-dark);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    padding-inline-start: 1.5rem;
}

li {
    margin-bottom: 0.8rem;
}